{% extends 'base.html' %}

{% block content %}
    <div class="container mx-auto max-w-6xl py-12 flex flex-col 
        justify-center items-center">
        <div class="logo text-3xl font-semibold">
            <a href="{{ url_for('app_views.shop_index') }}">C&C</a>
        </div>
        <div class="max-w-xl bg-white p-4 mt-6 rounded p-4 w-full">
            <div class="flex justify-between w-full">
                <div class="w-full p-4 border-b-2 border-r-2 border-gray-300 
                    text-center text-gray-400">
                    <a href="{{ url_for('app_views.register') }}">Register</a>
                </div>
                <div class="w-full p-4 border-b-2 border-blue-500 
                    text-center">
                    <a href="{{ url_for('app_views.login') }}">Sign In</a>
                </div>
            </div>
            <div class="max-w-sm mx-auto">
                <div class="text-xl text-center mt-8 font-semibold">Forgot Password?</div>
                <form method="post" id="forgot-password-form" class="my-8 w-full">
                    <div class="flex flex-col gap-2">
                        <label for="forgot-password-email" class="text-gray-600">
                            Email Address
                            <span class="text-red-500">*</span>
                        </label>
                        <input id="forgot-password-email" class="border p-2 border-gray-600" type="email">
                        <div id="forgot-password-email-error" class="text-red-500 text-sm hidden">
                            Please enter a valid email address.
                        </div>
                    </div>
                    <button class="mt-6 p-2 text-center text-white bg-black w-full">
                        Send Reset Password OTP
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='javascripts/shop.forgot-password.js') }}">
    </script>
{% endblock %}
