{% extends 'base.html' %}

{% block content %}
    <div class="container mx-auto max-w-6xl py-12 flex flex-col 
        justify-center items-center">
        <div class="logo text-3xl font-semibold">
            <a href="{{ url_for('app_views.shop_index') }}">C&C</a>
        </div>
        <div class="max-w-xl bg-white p-4 mt-6 rounded p-4 w-full">
            <div class="flex justify-between w-full">
                <div class="w-full p-4 border-b-2 border-blue-500 
                    text-center text-gray-400">
                    <a href="#">Register</a>
                </div>
                <div class="w-full p-4 border-b-2 border-l-2 border-gray-300 
                    text-center">
                    <a href="{{ url_for('app_views.login') }}">Sign In</a>
                </div>
            </div>
            <div class="max-w-sm mx-auto">
                <div class="mt-10 text-center">
                    <h1 class="font-semibold">Sign Up With...</h1>
                    <div id="google-register" 
                        class="flex mt-4 justify-center items-center gap-4 cursor-pointer
                        border-2 border-gray-400 p-2">
                        <i class="fa-brands fa-google"></i>
                        <p>Google</p>
                    </div>
                </div>
                <form method="post" id="login-form" class="mt-10 w-full">
                    <div class="text-center">
                        <h1 class="font-semibold">Or Sign Up With Email</h1>
                    </div>
                    <div class="flex flex-col gap-2 mt-6">
                        <label for="register-email" class="text-gray-600">
                            Email Address <span class="text-red-700">*</span>
                        </label>
                        <input id="register-email" class="border p-2 border-gray-600" type="email">
                        <div id="email-error" class="text-red-500 text-sm hidden">
                            Please enter a valid email address.
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 mt-6">
                        <label for="register-firstName" class="text-gray-600">
                            First Name <span class="text-red-700">*</span>
                        </label>
                        <input id="register-firstName" class="border p-2 border-gray-600" 
                        type="email">
                        <div id="email-error" class="text-red-500 text-sm hidden">
                            Please enter a valid First Name.
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 mt-6">
                        <label for="register-lastName" class="text-gray-600">
                            Last Name <span class="text-red-700">*</span>
                        </label>
                        <input id="register-lastName" class="border p-2 border-gray-600" 
                        type="email">
                        <div id="email-error" class="text-red-500 text-sm hidden">
                            Please enter a valid Last Name.
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 mt-6">
                        <label for="register-password" class="text-gray-600">
                            Password <span class="text-red-700">*</span>
                        </label>
                        <input id="register-password" class="border p-2 border-gray-600" 
                        type="password">
                        <div id="password-error" class="text-red-500 text-sm hidden">
                            Password must be at least 8 characters long and contain at least 
                            one uppercase letter, one lowercase letter, one number, and one 
                            special character.
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 mt-6">
                        <label for="confirm-password" class="text-gray-600">
                            Confirm Password <span class="text-red-700">*</span>
                        </label>
                        <input id="confirm-password" class="border p-2 border-gray-600" 
                        type="password">
                        <div id="confirm-password-error" class="text-red-500 text-sm hidden">
                            Passwords do not match.
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 mt-6">
                        <label for="register-dob" class="text-gray-600">
                            Date of Birth <span class="text-red-700">*</span>
                        </label>

                        <div class="flex gap-4">
                            <label for="register-year" class="hidden"></label>
                            <select id="register-year" name="year"
                                class="border border-black p-3 bg-transparent
                                w-4/12">
                            </select>
                            <label for="register-month" class="hidden"></label>
                            <select id="register-month" name="month"
                                class="bg-transparent border border-black p-3
                                w-6/12">
                            </select>
                            <label for="register-day" class="hidden"></label>
                            <select id="register-day" name="day" 
                                class="border border-black p-3 bg-transparent
                                w-3/12">
                                <option value="" disabled selected>Day</option>
                            </select>
                        </div>

                        <div id="email-error" class="text-red-500 text-sm hidden">
                            Please enter a valid date of birth.
                        </div>
                    </div>
                    <button id="submit-register-form" 
                        class="my-6 p-2 text-center text-white bg-black w-full">
                        Register
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='javascripts/shop.register.js') }}">
    </script>
    <script src="{{ url_for('static', filename='javascripts/shop.google.auth.js') }}" type="module">
    </script>
{% endblock %}
