<div class="container-fluid mb-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">Upadte Password</h5>
                    <form action="/api/user/{{id}}/resetpassword/{{token}}/" method="post">
                        <div class="mb-3">
                            <label for="newPassword" class="form-label fw-bold">New Password</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label fw-bold"> Confirm New Password</label>
                            <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                    <div class="mt-3">
                        <a href="/api/user/login" class="text-muted">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
