<aside class="bg-white w-72 h-full pl-6 py-6">
    <a href="#" class="logo border-2 border-blue-600 text-2xl text-blue-600 py-1 px-2 ml-4">
        C & C
    </a>
    <div class="flex flex-col justify-between h-full py-6">
        <ul class="mt-10 space-y-4">
            <li class="space-x-2 rounded-l-full py-2 px-4">
                <i class="fa-solid fa-house"></i>
                <a href="/admin/">Home</a>
            </li>
            <li class="space-x-2 rounded-l-full py-2 px-4">
                <i class="fa-solid fa-tags"></i>
                <a href="/admin/products" name="Products">Products</a>
            </li>
            <li class="space-x-1 rounded-l-full py-2 px-4">
                <i class="fa-solid fa-user-group"></i>
                <a href="/admin/customers" name="Customers">Customers</a>
            </li>
            <li class="space-x-2 rounded-l-full py-2 px-4">
                <i class="fa-brands fa-shopify"></i>
                <a href="/admin/orders" name="Orders">Orders</a>
            </li>
        </ul>
        <ul class="space-y-4">
            <li class="space-x-2 rounded-l-full py-2 px-4">
                <i class="fa-solid fa-circle-question"></i>
                <a href="#">Help</a>
            </li>
            <li class="space-x-2 rounded-l-full py-2 px-4">
                <i class="fa-solid fa-right-from-bracket"></i>
                <a href="#">Logout</a>
            </li>
        </ul>
    </div>
</aside>
