<header class="flex justify-between items-center">
    <h1 id="adminHeader" class="font-medium text-2xl"></h1>
    <div class="flex space-x-6 items-center">
        <i class="fa-regular fa-bell text-xl"></i>
        <div class="flex items-center space-x-2">
            <img scr="" class="rounded-full w-10 h-10"></img>
            <div>
                <h3 class="font-semibold">
                    <%= current_user %> <%= current_user %>
                </h3>
                <h3 class="font-thin">Admin</h3>
            </div>
        </div>
    </div>
</header>
