<button class="btn btn-primary side-bar mr-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  Admin Panel
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close text-reset bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle home mb-5" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Products
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="/api/product/getcreate">Create Products</a></li>
        <li><a class="dropdown-item" href="/api/image/getimage">Upload Images</a></li>
        <li><a class="dropdown-item" href="/api/coupon/getcreate">Discount All Products</a></li>
        <li><a class="dropdown-item" href="/api/product/removealldiscount">Remove All discount</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle home mb-5" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Users
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="/api/user/allusers">All Users</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle home mb-5" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Orders
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="/api/order/getallorders">All Orders</a></li>
        <li><a class="dropdown-item" href="/api/order/pendingorders">Pending Orders</a></li>
        <li><a class="dropdown-item" href="/api/order/deliveredorders">Delivered Orders</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle home mb-5" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Coupons
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item " href="/api/coupon/getcreate">Create Coupon</a></li>
        <li><a class="dropdown-item" href="/api/product/">Get Coupon</a></li>
        <li><a class="dropdown-item" href="/api/product/">Delete Coupon</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle home mb-5" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Enquiries
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item " href="/api/coupon/getcreate">Get Enquiry</a></li>
        <li><a class="dropdown-item" href="/api/product/">Delete Enquiry</a></li>
      </ul>
    </div>
  </div>
</div>