<%- include('admin/index') %>
<section class="totals flex justify-between space-x-6 lg:space-x-12 mt-12">
    <div class="bg-white rounded-xl p-4 w-full
    flex flex-col justify-center">
        <h6 class="text-xs mb-2">Today Revenue</h6>
        <h3>&#8358; 7619</h3>
    </div>
    <div class="bg-white rounded-xl p-4 w-full
    flex flex-col justify-center">
        <h6 class="text-xs mb-2">Total Customers</h6>
        <h3>619</h3>
    </div>
    <div class="bg-white rounded-xl p-4 w-full
    flex flex-col justify-center">
        <h6 class="text-xs mb-2">Total Customers</h6>
        <h3>719</h3>
    </div>
    <div class="bg-white rounded-xl p-4 w-full
    flex flex-col justify-center">
        <h6 class="text-xs mb-2">Total products</h6>
        <h3>8619</h3>
    </div>
</section>
