<% layout('../layouts/base') -%>
<div class="flex h-full max-w-7xl mx-auto overflow-hidden">
    <%- partial('partials/aside') %>
    <main class="w-full px-6 lg:px-8 py-4 bg-neutral-200">
        <%- partial('partials/header') %>
        <%= content %>
        <div id="adminMainContent"></div>
    </main>
</div>
